<div class="col-12 col-md-4  card-container p-1 d-flex flex-row">
    <div class="card  p-0 mb-5 mr-4">
        <a href="{% url 'prod_detail' product.id %}">
            <img src="{{product.thumbnail.url}}" class="card-img-top rounded mx-auto d-block"
                alt="{{product.title}}-image">
        </a>
        <div class="card-body">
            <h5 class="card-title text-center">{{product.name.capitalize}}</h5>
            <p class="card-text text-center">
                Rs.{{product.price}}
            </p>
            {% if not user.is_staff %}
            <a href="{% url 'add_to_cart' product.id %}"
                class="btn btn-primary d-flex align-center justify-content-center">Add to Cart</a>
            {% endif %}
        </div>
    </div>
</div>