<header id="site-header" class="fixed-top z-3">
  <nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand text-warning" href="{% url 'home_page' %}">Shine Jewels</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_page' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_page' %}">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.is_authenticated %}
              {{user.username.capitalize}}
              {% else %}
              Accounts
              {% endif %}
            </a>
            <ul class="dropdown-menu">
              {% if user.is_authenticated %}
              <li>
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item">Logout</button>
                </form>
              </li>

              {% else %}
              <li><a class="dropdown-item" href="{% url 'signup' %}">Register</a></li>
              <li><a class="dropdown-item" href="{% url 'signin' %}">Login</a></li>
              {% endif %}
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          </li>
          <!-- Site management -->
           {% if user.is_staff %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'carousel_page' %}">Carousel</a></li>
              <li><a class="dropdown-item" href="{% url 'view_products' %}">Products</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul>
          </li>
          {% endif %}
          <!-- End site management -->

        </ul>

        {% if search_bar %}
        <form class="d-flex" role="search" method="get" action="{% url 'search_products' %}">
          <input class="form-control me-2" type="search" placeholder="Browse our collection" aria-label="Search"
            name="q" value="{{query}}">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        {% endif %}
      </div>
    </div>
  </nav>
</header>