{% extends 'base/base.html' %}

{% block title %}
Carousel Management
{% endblock %}

{% block content %}
<section class="py-4">


<div class="container-fluid row d-flex  mx-auto">
    <div class="card p-0 overflow-hidden col-12 col-lg-6" id="carousel-preview">
        {% include 'mainapp/includes/carousel.html' %}
    </div>
    <div class="col-12 col-lg-6">
        <div class="card h-100 d-flex justify-content-center align-items-center">
            <a href="{% url 'add_carousel' %}" class="btn btn-success">Choose your images</a>
        </div>
    </div>
</div>
</section>
<hr class="border border-warning border-1 opacity-50">

<section class=" container-fluid row text-center mx-auto">
    {% for carousel in carousel_images %}
        {% include 'mainapp/includes/carousel_card.html' %}
    {% endfor %}
</section>


{% endblock %}